html,body {
   font-family: 'Roboto Mono';
   width: 100%;
   height: 100%;
   margin: 0px;
   padding: 0px;
   background-color: #2d2e30;
   cursor: default;
}

p {
   font-size: 18px;
   color: #54585c;
}

/* ------Highlights my name when hovered------ */
.linkedin {
   cursor: pointer;
   transition: .25s;
}

.linkedin:hover {
   color: #95dbd3;
}
/* ------------------------------------------- */

.top {
   padding-top: 15px;
   text-align: center;
}

.top h1 {
   margin: 0px;
   font-size: 50px;
   color: #95dbd3;
   text-shadow: 2px 2px #54585c;
}

.top button {
   font-size: 20px;
   display: inline-block;
   border: none;
   border-radius: 20px;
   outline: 0;
   padding: 10px 25px;
   cursor: pointer;
   font-family: inherit;
   color: #e3e6eb;
   background-color: #54585c;
   transition: .25s;
}

.top button:hover {
   color: #54585c;
   background-color: #95dbd3;
}

.highscore {
   text-align: center;
   margin: 40px 0px;
}

.highscore button {
   font-size: 20px;
   display: inline-block;
   border: none;
   outline: 0;
   padding: 10px 25px;
   font-family: inherit;
   color: #54585c;
   background-color: #95dbd3;
}

/* ------Uses grid display for the dice------ */
.container {
   margin-top: 20px;
   display: grid;
   grid-template-columns: 20% 20% 20% 20% 20%;
   text-align: center;
}

.container img {
   width: 65%;
}
/* ------------------------------------------ */

.score-calculator {
   text-align: center;
}

.score {
   text-align: center;
}

.score p {
   display: inline-block;
}

.score #score-value {
   color: #95dbd3;
}

.roll-button {
   text-align: center;
   margin-top: 20px;
}

.roll-button button {
   font-size: 20px;
   display: inline-block;
   border: none;
   border-radius: 20px;
   outline: 0;
   padding: 10px 25px;
   cursor: pointer;
   font-family: inherit;
   color: #e3e6eb;
   background-color: #54585c;
   transition: .25s;
}

.roll-button button:hover {
   color: #54585c;
   background-color: #95dbd3;
}